<h2>New celebrity</h2>
<form action="/celebrities/create" method="post">
    <input type="text" name="name">
    <input type="text" name="occupation">
    <input type="text" name="catchPhrase">
    <button>Submit</button>
</form>